<html lang="en">
  <head>
    {{>_head}}
    <title>Family Share - Secured Content</title>
    <script src="/js/3p/htmx-2.0.2.min.js"></script>
  </head>
  <body>
    {{>_error_toast}}
    <h1>Secured Content</h1>
    {{>_categories_view}}
  </body>
</html>
